#crewai==0.28.8
#crewai-tools
#chromadb==0.4.22
#embedchain>=0.1.98,<0.2.0
#langchain==0.1.20
#langchain-core==0.1.52 
#langchain-community==0.0.38
#sec-api
#html2text

crewai==0.126.0
crewai-tools==0.45.0

langchain==0.3.25
langchain-core==0.3.59
langchain-community==0.3.24

chromadb==0.5.23

sec-api==1.0.33
html2text==2024.2.26

massive #polygon python client
yfinance # yahoo finance client